<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bordeaux Digit'Arts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/style.css"> 
</head>
<body>
    <!-- Logo-->
    <img class="logo" src="/src/images/Logo.svg" alt="">
    <!-- Header + Cover -->
    <!-- Header -->
    <div class="header container">
        <header class="row container text-center">                    
            <div class="col header-content">
                <a href="">Home</a>
            </div>
            <div class="col header-content">
                <a href="">Articles</a>
            </div>
            <div class="col header-content">
                <a href="">Évènements</a>
            </div>
        </header>
    </div>
    
    <!-- Titre page  -->
    <img class="ecrire-title"src="/src/images/Ecrire-title.svg" alt="">
    
    <!-- Form pour ecrire l'article  -->
    <div class="container ecrire-article">
        <div class="container form-div text-center">
            <form id="form-article" action="">
                <input class="form-style" type="text" id="titre" name="titre" placeholder="Titre">
                <input class="form-style" type="text" id="chapo" name="chapo" placeholder="Chapô">
                <textarea class="form-style" id="paragraphe1" name="paragraphe1" placeholder="1er paragraphe" rows="4" cols="50"></textarea>
                <input class="form-style" type="text" id="sous-titre-p2" name="sous-titre" placeholder="Sous-Titre">
                <textarea class="form-style" id="paragraphe2" name="paragraphe2" placeholder="2er paragraphe" rows="4" cols="50"></textarea>
                <input class="form-style" type="text" id="sous-titre-p3" name="sous-titre" placeholder="Sous-Titre">
                <textarea class="form-style" id="paragraphe3" name="paragraphe3" placeholder="3er paragraphe" rows="4" cols="50"></textarea>
                <textarea class="form-style" id="conclusion" name="conclusion" placeholder="Conclusion" rows="4" cols="50"></textarea>
                <input type="submit" form="form-article" value="Envoyer"/>
            </form>
        </div>
    </div>

    
    <!-- A propos -->
    <div class="container-fluid a-propos">
        <img class="footer-tags"src="/src/images/Apropos.svg" alt="">
        <h6>Lorem Ipsum</h6>
    </div>
    <!-- Newsletter  -->
    <div class="container-fluid newsletter">
        <div class="row">
            <!-- Newsletter Texte  -->
            <div class="col newsletter-text_box">
                <h1>Inscrivez-vous à notre<br>Newsletter</h1>
                <h6>Les dernières nouvelles, articles et ressources envoyés<br>directement dans votre boîte de réception chaque semaine.</h6>
            </div>
            <!-- S'incrire au newsletter -->
            <div class="col newsletter-mail">
                <svg class="newsletter-mail-subscribe" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 606 48">
                    <style>
                        .st0{
                            fill:#4247C6;
                        }
                        .st1{
                            fill:#FFFFFF;
                            stroke:#4247C6;
                            stroke-width:2;
                        }
                    </style>
                    <path class="st0" d="M27.6,5.3h556.6c11.7,0,21.1,9.5,21.1,21.1v0c0,11.7-9.5,21.1-21.1,21.1H27.6c-11.7,0-21.1-9.5-21.1-21.1v0
                        C6.4,14.8,15.9,5.3,27.6,5.3z"/>
                    <path class="st1" d="M21.1,1.8h556.6c11.1,0,20.1,9,20.1,20.1v0c0,11.1-9,20.1-20.1,20.1H21.1C10,42.1,1,33.1,1,21.9v0
                        C1,10.8,10,1.8,21.1,1.8z"/>
                    <path class="st0" d="M570.1,23.3c0.6-0.6,0.6-1.5,0-2.1l-9.5-9.5c-0.6-0.6-1.5-0.6-2.1,0c-0.6,0.6-0.6,1.5,0,2.1l8.5,8.5l-8.5,8.5
                        c-0.6,0.6-0.6,1.5,0,2.1c0.6,0.6,1.5,0.6,2.1,0L570.1,23.3z M543.9,23.7H569v-3h-25.2V23.7z"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <div class="row">
            <div class="col text-center">
                <img class="footer-tags" src="/src/images/Aide.svg" alt="">
            </div>
            <div class="col text-center">
                <img class="footer-tags" src="/src/images/Suivez.svg" alt="">
            </div>
            <div class="col text-center">
                <img class="footer-tags" src="/src/images/Mentions.svg" alt="">
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>