.container{
    border: 1px solid red;
}
.container-fluid{
    border: 1px solid red;
}

.logo{
    position: fixed;
    top: 1.5vh;
    left: 18vw;
    width: 4vw;
}
.cover{
    margin-top: 90px;
    /* margin-bottom: 169.88px; */
}

.header{
    position: fixed;
    left: 20vw;
    background-image: url(/src/images/Header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    scale: 0.8;
    width: 60vw;
    padding-bottom: 25px;
    margin-top: 20px;

}
.header-content{
    margin-top: 1%;
    border: 1px solid red;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
a:link{
    background-color: transparent;
    text-decoration: none!important;
    color: #4247C6;
}
a:visited {
    color: #4247C6;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #4247C6;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #4247C6;
    background-color: transparent;
    text-decoration: underline;
}

.home-content{
    margin-top: 169.88px;
    padding-left: 4.167vw;
    padding-right: 4.167vw;
}

.subtitle{
    padding-left: 7.5vw;
}

.articles-home-img_box-1{
    background-color: #4247C6;
    height: 427.31px;
    border: 1px solid red;
}
.articles-home-text-1{
    height: 427.31px;
    border: 1px solid red;
}
.articles-home-img_box-2{
    background-color: #4247C6;
    height: 354.63px;
    border: 1px solid red;
}
.articles-home-text-2{
    height: 228.83px;
    border: 1px solid red;
}
.articles-home-img_box-3{
    background-color: #4247C6;
    height: 354.63px;
    border: 1px solid red;
}
.articles-home-text-3{
    height: 228.83px;
    border: 1px solid red;
}
.space-articles-home-2-3{
    width: 3.75vw;
}

.evenement-home-carte-content{
    height: 278px;
}

.a-propos{
    margin-top: 169.88px;
    padding-left: 5vw;
    border-top: 4px solid #4247C6;
}
.footer-tags{
    width: 15vw;
}

.newsletter{
    padding-left: 10vw;
    border-top: 4px solid #4247C6;
}
.newsletter-mail-subscribe{
    padding-top: 50px;
    padding-left: 10vw;
    width: 40vw;
}

.footer{
    border-top: 4px solid #4247C6;
}

.border{
    border: 1px solid red;
}